$type-primair: sans-serif, "Josefin sans";

/* Algemene SCSS */
* {
  padding: 0;
  margin: 0;
  font-family: $type-primair;
  box-sizing: border-box;
}

body {
  background-image: url(../img/Maina.jpg);
  background-size: cover;
  background-position: center;
}

.main {
  height: 100vh;
  width: 100%;
}

.logo {
  color: white;
  font-size: 35px;
  letter-spacing: 1px;
  padding: 20px; 
}

.spana {
  color: #9f2626;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2%;
  padding-left: 4%; 
  padding-right: 86%;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}

.dropdowna:hover .dropdowna-content {
  display: block;
}

.dropdowna-content a {
  display: block;
  color: #9f2626;
  padding: 5px;
  text-decoration: none;
}

.dropdowna-content a:hover {
  color: white;
  background-color: #9f2626;
}

.dropdowna {
  display: inline-block;
  position: relative;
  margin-right: 50%;
}

.dropdowna-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(252, 8, 8, 0.4);
}

.dropdowna:hover .dropdowna-content {
  display: block;
}

.dropdowna-content a {
  display: block;
  color: #9f2626;
  padding: 5px;
  text-decoration: none;
}

.dropdowna-content a:hover {
  color: white;
  background-color: #9f2626;
}

.btn:hover {
  transform: scale(1.2);
}

.content {
  position: absolute;
  top: 45%; 
  left: 8%;
  transform: translateY(-45%); 
}

h1 {
  color: white;
  margin: 20px 0px 20px;
  font-size: 75px;
}

h3 {
  color: white;
  font-size: 25px;
  margin-bottom: 50px;
}

.maina {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.overa {
  width: 100%;
  padding: 100px 0px;
  background-color: #191919;
}

.overa img {
  height: auto;
  width: 430px;
}

.overa-tekst {
  width: 550px;
}

.overa-tekst h2 {
  color: #9f2626;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.overa-tekst h5 {
  color: white;
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 25px;
  text-transform: capitalize;
}

.overa-tekst p {
  color: #ff6961;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}

.h4a {
  color: #9f2626;
  letter-spacing: 2px;
  font-size: 20px;
}

/* Service */
.service {
  background: #101010;
  width: 100%;
  padding: 100px 0px;
}

.title h2 {
  color: white;
  font-size: 75px;
  width: 1130px;
  margin: 30px auto;
  text-align: center;
}

/* Cards */
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

.carda {
  height: 365px;
  width: 335px;
  padding: 20px 35px;
  background: #191919;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.carda i {
  font-size: 50px;
  display: block;
  text-align: center;
  margin: 25px 0px;
  color: #9f2626;
}

.buttona {
  color: #9f2626;
  background-color: #9f2626;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.4s;
  margin-left: 20px; 
}

.buttona:hover {
  background-color: transparent;
  border: 2px solid #9f2626;
  cursor: pointer;
}

h5 {
  color: white;
  font-size: 23px;
  margin-bottom: 15px;
}

.praa p {
  color: #ff6961;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 25px;
}

/* Footer */
footer {
  position: relative;
  width: 100%;
  height: 300px;
  background: #191919;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer p:nth-child(1) {
  font-size: 30px;
  color: white;
  margin-bottom: 20px;
  font-weight: bold;
}

footer p:nth-child(2) {
  color: white;
  font-size: 17px;
  width: 500px;
  text-align: center;
  line-height: 26px;
}

.schoola a {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #9f2626;
  border-radius: 50%;
  margin: 22px 10px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.schoola a:hover {
  transform: scale(1.3);
  transition: 0.3s;
}

.enda {
  position: absolute;
  color: #ff6961;
  bottom: 35px;
  font-size: 14px;
}

.end{
  position: absolute;
  color: #ff6961;
  bottom: 120px;
  font-size: 14px;
}

.github{
  height: 30px;
  margin-top: -4px;
}

.linkedin{
  height: 30px;
  margin-top: -4px;
}

/* Skills images */
.Laravel{
  height: 30px;
  margin-left: -20px;
}

/* Media queries voor mobiel */
@media screen and (max-width: 768px) {
  .main {
    height: auto;
    padding-top: 80px;
  }

  .logo {
    font-size: 25px;
  }

  nav {
    padding-left: 20%;
  }

  .content {
    left: 5%;
    width: 90%;
    text-align: center;
  }

  h1 {
    font-size: 50px;
  }

  h3 {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .maina {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .overa img {
    margin-bottom: 300px;
  }

  .overa-tekst {
    width: 80%;
  }

  .title h2 {
    font-size: 50px;
    width: 90%;
  }

  .carda {
    width: 80%;
    margin: 15px auto;
  }

  .image {
    margin: 30%;
  }
}

/* Media queries voor tablet */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .main {
    height: auto;
    padding-top: 100px;
  }

  .logo {
    font-size: 30px;
  }

  nav {
    padding-left: 85%;
  }

  .content {
    left: 5%;
    margin-bottom: 80%;
    width: 50%;
  }

  h1 {
    font-size: 60px;
  }

  h3 {
    font-size: 22px;
    margin-bottom: 40px;
  }

  .maina {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .overa img {
    width: 80%;
    margin-bottom: 40px;
  }

  .overa-tekst {
    width: 80%;
  }

  .title h2 {
    font-size: 60px;
    width: 90%;
  }

  .carda {
    width: 80%;
    margin: 15px auto;
  }
}
